<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit car</h1>
	<div>
		<form th:object="${car}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<label for="licenseplate">Licenseplate</label>
			<input type="text" id="licenseplate" th:field="*{licenseplate}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="modlist">Model</label>
			<select id="modlist" th:field="*{model}" class="form-control">
				<option th:each="model: ${models}" th:value="${model.modelid}" th:text="${model.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="modelnumber">Modelnumber</label>
			<input type="text" id="modelnumber" th:field="*{modelnumber}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="year">Year</label>
			<input type="text" id="year" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="city">City</label>
			<input type="text" id="city" th:field="*{city}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="usdperhour">Hourly rate</label>
			<input type="text" id="usdperhour" th:field="*{usdperhour}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="available">Available</label>
			<input type="checkbox" id="available" name="available" th:field="*{available}"/>
			<div style="clear: both; display: block; height: 10px;"></div>

			<!--  
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="townlist">Town</label>
			<select id="townlist" th:field="*{town}" class="form-control">
				<option th:each="town: ${towns}" th:value="${town.townid}" th:text="${town.name}"></option>
			</select> -->
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>